.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.app .app-header {
}
.app .app-body {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: scroll;
}

.app .app-container {
  width: 90%;
  max-width: 800px;
  padding-top: 10px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper img {
  height: 30px;
  padding-right: 16px;
}

.container-list-wrapper {
  /* border: 1px solid red; */
  display: flex;
  padding: 15px 0px;
}

.container-list-wrapper .container-list-left {
  /* border: 1px solid blue; */
  margin-right: 16px;
}


.container-list-wrapper .container-list-body {
  /* border: 1px solid green; */
  display: flex;
  flex-grow: 1;
  align-items: center;
}

